<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257463171292-19h58lmg9k0o3n538itqp8ra39p96jsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257463171292-19h58lmg9k0o3n538itqp8ra39p96jsf</string>
	<key>API_KEY</key>
	<string>AIzaSyDVweCthsk-CE2CWhllwEFzF9AZ2XQanG8</string>
	<key>GCM_SENDER_ID</key>
	<string>257463171292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juniorhighgame.app.app</string>
	<key>PROJECT_ID</key>
	<string>jhg-2-preprod</string>
	<key>STORAGE_BUCKET</key>
	<string>jhg-2-preprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257463171292:ios:4cfcf670d3e7fcecd0dc19</string>
</dict>
</plist>